@{
    ViewBag.Title = "Index";
}
@using CZBK.ItcastOA.Model
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>网站信息</title>
    <link href="~/Content/themes/default/easyui.css" rel="stylesheet" />
    <link href="~/Content/themes/icon.css" rel="stylesheet" />
    <style>
        html body {
            width:100%;
            height:100%;
            margin:0px;
            padding:0px;
        }
        .easyui-linkbutton {
            width:90%;
            margin-left:auto;
            margin-right:auto;
        }
    </style>
  
</head>
<body>
    
    <div id="ycc"  style="width:100%;height:100%;">       
        <div data-options="region:'center'" title="内容" >
            <div style="padding:10px;text-align:left;font-size:18px;border-bottom:solid 1px #5dd0fc; height:25%">
                小秘书助手提醒你:<br />
                在房源搜索中有&nbsp;<b style="color:brown">@ViewBag.XmsCount</b>  条搜索信息有新数据，新数据一共&nbsp;<b style="color:brown">@ViewBag.ListC</b>  条;
            </div>
            <div id="showDiv" style="overflow:auto;height:70%">

            </div>
           
            
        </div>
    </div>
</body>

</html>
@section scripts{
    <script src="~/Scripts/jquery-1.7.1.min.js"></script>
    <script src="~/Scripts/jquery.easyui.min.js"></script>
    <script src="~/Scripts/easyui-lang-zh_CN.js"></script>
    <script src="~/Scripts/datapattern.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Scripts/MyAjaxForm.js"></script>
    <script src="~/Scripts/MyNewJS.js"></script>
    <script src="~/Scripts/jquery.signalR-2.2.2.min.js"></script>
    <!--参考signalr  脚本自动生成 -->
    <script src="~/signalr/hubs"></script>
    <script type="text/javascript">
        $(function () {
            $('#ycc').layout();
            setHeight();
            $.post("/HomeTip/GetGglist", {}, function (data) {
                var Ths = data.ret;
                $.each(Ths, function (i, v) {

                    var str1 = "<div style='padding:10px;text-align:left;font-size:14px; border-bottom:solid 1px #5dd0fc'>";
                    var str2 = "</div>";
                    $("#showDiv").append(str1+v.text+str2);
                })
            })

        })
        function setHeight() {

            var height = $(document).height() - 2;
            $("#ycc").attr("style", "width:100%;height:" + height + "px");
            $("#ycc").layout("resize", {
                width: "100%",
                height: height + "px"
            });

        }
    </script>
}
